<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:black;">
  <div class="container">
<footer>
   
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p><%= link_to "釣果へ戻る", public_catches_path,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %></p>
    	</div>
    </div>
  </div>
  
</footer>
</div>
</nav>