<footer style="background-color:black">
  	<div class='row'>
    	<div class='mx-auto'>
    	  <% if user_signed_in? %>
    		<div style='width:40px; height:60px;' class="d-flex align-items-center"><%= link_to "釣果へ戻る", public_catches_path,class: 'text-nowrap border-white rounded mr-3 ' %></div>
    		<% end %>
    	</div>
    </div>
</footer>
