/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.back {
  background-image: url(/images/back.jpeg);
  height: 100%;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}
.back-table{
  background-color: #d3d3d3;
  margin-bottom: 0px !important;
}
.top{
  padding-top: 10px;
  background-color: #00bfff;
}
.position{
  position: relative;
  position: absolute;
    top: 70px;
    left: 50%;
    margin: 0 0 0 -53px;
    width: 160px;
    height: 160px;
    z-index: 2;
}
.botton{
  width: 24%;
}